*.class
*.log

# Mill
out/*
project/build.properties

# SBT specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Bloop and Metals
.bloop/
.bsp/
.metals/

# ENSIME specific
.ensime_cache/
.ensime

# IntelliJ
.idea
*.iml

# VS Code
.vscode/
